.chatWindowHeaderContainer {
    background: linear-gradient(90deg, rgba(251,253,246,1) 39%, rgba(255,255,255,1) 100%);
}

.windowHeader-onlineText > span {
    font-size: 13px !important;
}

.videoCallButton {
    right: 75px;
}

.header-button {
    transition: 0.2s !important;
}

.header-button:hover {
    transform: scale(0.8);
    transition: 0.2s;
}